*,
*:before,
*:after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media(prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

body {
  min-height: 100vh;
  background: hsl(220, 34%, 22%);
  color: hsl(0, 0%, 100%);
  font-family: sans-serif;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  list-style-type: none;
}

ul > li + li {
  margin-left: 1rem;
}

a {
  color: hsl(0, 0%, 100%);
}

a:hover {
  color: hsl(0, 80%, 80%);
}

section {
  padding: 10rem;
  height: 100vh;
}
nav,
section:nth-of-type(even) {
  background: hsl(210, 30%, 15%);
}

section:nth-of-type(even) {
  transform: skewY(-11deg);
}
section:nth-of-type(even) h2,
section:nth-of-type(even) p {
  transform: skewY(11deg);
}

