*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: hsl(220, 34%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div > * + * {
  margin-top: 2rem;
}
div * {
  display: block;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  color: hsl(0, 10%, 100%);
  background: hsl(90, 50%, var(--l, 40%));
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 6px;
  outline: transparent;
}

button:hover {
  --l: 30%;
}

button:active {
  --l: 20%;
}

img {
  width: 50vmin;
}

.fullscreen img {
  height: 100vh;
  width: 100vw;
}

.fullscreen button {
  position: absolute;
  left: 50%;
  bottom: 10vh;
  transform: translate(-50%, 0);
}