*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: hsl(230, 50%, 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  --rotation: calc(var(--transformed) * 90deg);
  --translation: calc(var(--transformed) * -100%);
  --skew: calc(var(--transformed) * 20deg);
  transform: rotate(var(--rotation, 0deg)) scale(var(--scale)) translate(var(--translation, 0), 0) skew(var(--skew, 0));
}

img:nth-of-type(1) {
  --transformed: 1;
  --scale: 0.5;
}
img:nth-of-type(2) {
  --scale: 0.75;
}