*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 100vh;
}

* + * {
  margin-top: 1rem;
}

button {
  padding: 12px 16px;
  width: 160px;
  font-family: sans-serif;
  border: 0;
  font-size: 16px;
}

button:nth-of-type(1) {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background: hsl(90, 80%, 45%);
}

